.site-header {
    background-color: rgba(36,38,41,0.8);
    color: #fff;
    display: table;
    left: 0;
    min-height: 90px;
    padding: 15px 40px;
    position: fixed;
    right: 0;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    top: 0;
    width: 100%;
    z-index: 5;
}

body {
    background-color: #242629;
    color: #6a6c6e;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.62;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
}
.site-branding {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    width: 30%;
}
